# Core
fastapi
uvicorn
python-multipart
python-dotenv

# LangChain
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-huggingface
langchain-openai

# Vector Store
faiss-cpu

# Embeddings and Reranking
sentence-transformers

# BM25
rank-bm25

# PDF Loading
pymupdf

# Tokenizer
tiktoken

# ML
numpy
scikit-learn

# Groq
groq

# Google
google-generativeai

# Utilities
tqdm